<template>
  <v-card color="primary darken-1" :dark="!isDark" class="px-0">
    <v-card-text>
      <v-card-title class="text-h4" v-text="'Kardex'" />
      <v-card-subtitle
        class="font-weight-black seudo-overline"
        v-text="`Promedio General: ${promedio}`"
      />
      <v-text-field
        dense
        outlined
        clearable
        class="mx-2"
        v-model="search"
        color="white"
        label="Buscar..."
        prepend-inner-icon="mdi-magnify"
        hide-details
      />
    </v-card-text>
    <v-data-table
      :loading="loading"
      :light="!isDark"
      :search="search"
      :headers="headers"
      :items="materias"
      :options="options"
      mobile-breakpoint="0"
      fixed-header
      class="rounded-0"
    />
  </v-card>
</template>

<script>
import { CFetch } from "@/plugins/CFetch.js";
import { mapGetters } from "vuex";

export default {
  data: () => ({
    materias: [],
    promedio: 0.0,
    search: "",
    loading: true,
    headers: [
      { text: "Materia", value: "Materia", width: "300" },
      { text: "Calificación", value: "Calificación" },
      { text: "Semestre", value: "Semestre1" },
      { text: "Clave", value: "Clave" },
    ],
    options: {
      multisort: false,
      sortDesc: [true, true, true, true],
    },
    materiasGroup: [],
  }),
  async mounted() {
    const response = await CFetch.get("api/v1/kardex", this.token);
    setTimeout(() => {
      this.materias = response.materias;
      this.promedio = response.promedio;
      this.loading = false;
      response.materias.forEach((e) => {
        const semestrePasado =
          (e.Semestre3
            ? e.Semestre3
            : e.Semestre2
            ? e.Semestre2
            : e.Semestre1) - 1;
        if (this.materiasGroup[semestrePasado] === undefined)
          this.materiasGroup[semestrePasado] = [];
        this.materiasGroup[semestrePasado].push(e);
      });
      console.log(this.materiasGroup);
    }, 500);
  },
  computed: {
    ...mapGetters("User", ["token"]),
    isDark() {
      return this.$vuetify.theme.dark;
    },
  },
};
</script>

<style scoped>
.seudo-overline,
label.v-label {
  font-size: 0.75rem !important;
  font-weight: bolder;
  letter-spacing: 0.1666666667em !important;
  text-transform: uppercase;
  font-family: Roboto, sans-serif !important;
}
.v-data-footer {
  padding: 0 !important;
  margin: 0 !important;
}
</style>
