<template>
  <v-layout style="position: absolute">
    <v-app-bar flat app class="primary darken-1" dark>
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <v-toolbar-title class="overline">
        ITL Control / {{ currentPath() }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-navigation-drawer app v-model="drawer" width="350">
      <TheUserCard />
      <v-list class="py-0">
        <!-- <v-list-item
          v-for="item in Object.keys(items)"
          :key="item"
          @click="changeTheme(items[item])"
        >
          {{ item }}
        </v-list-item> -->
        <v-subheader>
          Alumno
        </v-subheader>
        <v-divider></v-divider>
        <v-list-item @click="redirTo('Horario')">
            Horario
        </v-list-item>
        <v-list-item @click="redirTo('Carga Academica')">
            Carga Academica
        </v-list-item>
        <v-list-item @click="redirTo('Kardex')">
            Kardex
        </v-list-item>
        <v-divider></v-divider>
        <v-subheader>
          Asuntos Academicos
        </v-subheader>
        <v-divider></v-divider>
        <v-list-item @click="redirTo('Alta')">
            Carga de Materias
        </v-list-item>
        <v-list-item @click="redirTo('Baja')">
            Baja de Materias
        </v-list-item>
      </v-list>
      <v-card flat class="transparent pa-5">
        <v-switch hide-details label="dark" @change="$vuetify.theme.dark = !$vuetify.theme.dark"></v-switch>
      </v-card>
      <template v-slot:append>
          <v-btn block @click="">
            Cerrar Sesion
          </v-btn>
      </template>
    </v-navigation-drawer>
  </v-layout>
</template>

<script>
import TheUserCard from "@/components/app/TheUserCard.vue";
// import colors from 'vuetify/lib/util/colors'

export default {
  data: () => ({
    drawer: null,
    // items: {
    //   red: colors.red,
    //   green: colors.green,
    //   blue: colors.blue,
    //   blueGrey: colors.blueGrey,
    //   amber: colors.amber
    // },
  }),
  components: {
    TheUserCard,
  },
  methods: {
    currentPath() {
      return this.$router.currentRoute.name;
    },
    // changeTheme(color) {
    //   this.$vuetify.theme.themes.light["primary"] = color
    //   this.$vuetify.theme.themes.dark["primary"] = color
    // },
    redirTo(route){
      this.$router.push({ name: route }).catch(()=>{})
    }
  },
};
</script>
