<template>
  <v-list two-line class="primary darken-1" dark>
    <v-list-item>
      <v-list-item-avatar color="primary white--text" size="55">
        {{ avatar }}
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title v-text="'Ing. ' + carrera" />
        <v-list-item-subtitle v-text="user" />
        <v-list-item-subtitle v-text="control" />
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
import { mapState } from "vuex"
export default {
  computed: {
    ...mapState("User", ["$usr"]),
    avatar() {
      return this.$usr.info.name[0] + this.$usr.info.lastname[0];
    },
    user() {
      return this.$usr.info.name + " " + this.$usr.info.lastname;
    },
    control() {
      return this.$usr.info.control;
    },
    carrera() {
      return this.$usr.carrera.espcialidad;
    },
  },
};
</script>
