<template>
  <v-container class="transition-fast-in-fast-out">
    <v-row class=" transition-fast-in-fast-out">
      <v-col md="7" cols="12" class=" transition-fast-in-fast-out">
        <v-card class="transparent transition-fast-in-fast-out" flat>
          <v-row no-gutters align="center" class="mb-5">
            <v-col cols="2">
              <v-img
                src="@/assets/profile_analysis_.svg"
                max-width="150"
                max-height="150"
              ></v-img>
            </v-col>
            <v-col cols="10">
              <v-card-title class="display-1 font-weight-light">
                Baja de materias
              </v-card-title>
              <v-card-subtitle
                class="ml-5 text-subtitle-1 font-weight-medium mb-0 grey--text"
              >
                Aqui podras dar de baja tus materias
              </v-card-subtitle>
            </v-col>
          </v-row>
          <v-lazy class="transition-fast-in-fast-out">
            <v-responsive
              class="transition-fast-in-fast-out overflow-y-auto"
              max-height="60vh"
              v-if="horario.length > 0"
            >
              <template v-for="i in horario" class="my-2">
                <v-lazy
                  v-model="i.isActive"
                  :options="{
                    threshold: 0.5,
                  }"
                  transition="fade-transition"
                  :key="i.Clave"
                >
                  <v-card
                    outlined
                    class="transition-fast-in-fast-out my-2 pa-1"
                    @click="dar_de_baja(i)"
                  >
                    <v-list-item>
                      <v-list-item-avatar>
                        <v-checkbox disabled v-model="i.isSelected"></v-checkbox>
                      </v-list-item-avatar>
                      <v-list-item-content>
                        <v-list-item-title>{{ i.Materia }}</v-list-item-title>
                        <v-list-item-subtitle class="caption">{{
                          i.Profesor
                        }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-card>
                </v-lazy>
              </template>
            </v-responsive>
            <v-responsive
              class="d-flex flex-column justify-center pa-15"
              v-else
            >
              <div class="text-subtitle-2 text-center">
                Obteniendo carga academica
              </div>
              <v-progress-linear
                class="mt-3"
                indeterminate
                color="primary"
              ></v-progress-linear>
            </v-responsive>
          </v-lazy>
          <!-- <v-list class="transparent">
                <v-list-item
                  v-for="i in horario"
                  :key="i.Clave"
                  @click="alert()"
                  class="rounded-lg"
                >
                  <v-list-item-avatar>
                    <v-checkbox></v-checkbox>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>{{ i.Materia }}</v-list-item-title>
                    <v-list-item-subtitle class="caption">{{
                      i.Profesor
                    }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list> -->
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-lazy>
              <v-btn
                v-if="baja.length > 0"
                dark
                block
                color="primary darken-1"
                @click="dialog = true"
              >
                Continuar
              </v-btn>
            </v-lazy>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col
        md="5"
        cols="12"
        class="d-flex flex-column justify-center align-center"
      >
        <v-img
          src="@/assets/user_interface__flatline.png"
          max-height="350"
          max-width="350"
        />
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" max-width="350">
      <v-card>
        <div class="pa-10">
          <v-lazy>
            <v-img max-height="200" class="mx-auto" max-width="200" src="@/assets/sending_emails.svg"></v-img>
          </v-lazy>
        </div>
        <v-card-title>
          Confirmar baja de materias
        </v-card-title>
        <v-card-text>
          <div class="mb-4">
            Has seleccionado las siguientes materias en tu solicitud:
          </div>
          <v-card
            outlined
            class="rounded-xl my-2 white--text pl-3 seudo-overline primary darken-2"
            v-for="materia in baja"
            :key="materia.Grupo"
          >
            {{ materia.Materia }}
          </v-card>
          <div class="mt-4 seudo-overline amber--text pt-2 d-flex flex-row align-center">
            <v-icon color="amber">mdi-alert-octagon</v-icon>
            <div class="ml-3">Una vez confirmada la solicitud no habra cambios.</div>
          </div>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions class="pa-3">
          <v-spacer></v-spacer>
          <v-btn text @click="dialog = false">Cancelar</v-btn>
          <v-btn dark color="primary darken-2" @click="confirmarSolicitud">Confirmar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data: () => ({
    dialog: false,
    baja: [],
  }),
  methods: {
    dar_de_baja(materia) {
      if (!this.baja.includes(materia)){
        materia.isSelected = !materia.isSelected
        this.baja.push(materia);
      }else{
        const index = this.baja.findIndex(m => m == materia)
        this.baja.splice(index, 1);
        materia.isSelected = !materia.isSelected
      }
    },
    confirmarSolicitud(){
      this.dialog = false
    }
  },
  computed: {
    ...mapGetters("User", ["horario"]),
  },
  beforeDestroy(){
    this.horario.forEach(m => {
      m.isSelected = false
    })
  }
};
</script>

<style scoped>
.seudo-overline {
  font-size: 0.75rem !important;
  font-weight: bolder;
  letter-spacing: 0.1666666667em !important;
  text-transform: uppercase;
  font-family: Roboto, sans-serif !important;
}
</style>
