<template>
  <v-container class="fill-height px-md-15">
    <v-row>
      <v-col md="7" cols="12">
        <v-card class="transparent" flat>
          <v-card-title class="display-1 font-weight-light"
            >Carga de materias</v-card-title
          >
          <v-card-subtitle
            class="ml-5 text-subtitle-1 font-weight-medium mb-0 grey--text"
            >Aqui podras cargar tus materias</v-card-subtitle
          >
          <v-divider></v-divider>
          <v-card-text class="text-h5 pl-15"
            >Vaya no deberias estar aqui, parece que ya cuentas con una carga
            academica.</v-card-text
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1">Volver a inicio</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col
        md="5"
        cols="12"
        class="d-flex flex-column justify-center align-center"
      >
        <v-img src="@/assets/scrum_board_flatline.png" />
      </v-col>
    </v-row>
  </v-container>
</template>
