<template>
  <v-container >
    <v-row>
      <v-col>
        <v-sheet class="rounded-0 transparent">
          <v-card-text class="pa-0">
            <v-subheader class="text-h6 overline">
              Carga Academica <v-divider vertical class="ml-4" />
              <v-spacer></v-spacer>
              semestre 8
            </v-subheader>
            <v-divider></v-divider>
            <v-list three-line class="pb-0 transparent">
              <template v-for="(materia, i) in horario">
                <v-list-item class="py-4" :key="materia.Grupo">
                  <v-list-item-avatar size="45">
                    <v-avatar color="primary darken-1 white--text overline font-weight-black" v-text="materia.Grupo" />
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-text="materia.Materia" />
                    <v-list-item-subtitle v-text="materia.Profesor" />
                    <v-card-text class="pa-0">
                      <template v-for="dia in Object.keys(materia.Dias)">
                        <v-chip small v-if="materia.Dias[dia] !== '-/'" :key="dia" class="mr-1 mt-1">
                          <v-chip small color="primary darken-1 white--text font-weight-black" class="ml-n3 mr-2">{{ dia[0] }}</v-chip> {{ materia.Dias[dia] }}
                        </v-chip>
                      </template>
                    </v-card-text>
                  </v-list-item-content>
                </v-list-item>
                <v-divider inset :key="i" v-if="i < horario.length - 1" />
              </template>
            </v-list>
          </v-card-text>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Home",
  computed: {
    ...mapState("User", ["horario"]),
  },
  watch: {
    horario: (_new) => {
      console.log(_new);
    },
  },
  mounted() {
    this.$store.dispatch("User/getHorario");
  },
  // created(){
  //   console.log(this.$vuetify.theme)
  //   localStorage.clear()
  // }
};
</script>

<style>
.capitalize {
  text-transform: capitalize !important;
}
</style>
