<template>
  <v-container fluid class="pt-0 fill-height bg">
    <v-row align="center" justify-md="center">
      <v-col cols="1"></v-col>
      <v-col cols="12" md="4">
        <v-card class="transparent mx-auto" flat>
          <v-card-title class="display-1 font-weight-light primary--text " style="word-break: break-word">
            {{ date.getFormatedDate() }}
          </v-card-title>
          <v-card-subtitle class="overline pb-0 font-weight-bold">
            quedan {{ materias.length }} clases
          </v-card-subtitle>
          <v-divider inset></v-divider>
          <v-lazy>

          <v-list class="transparent" v-if="materias.length > 0">
            <v-list-item
              dark
              class="primary darken-2 my-2 rounded-lg"
              v-for="materia in materias"
              :key="materia.Grupo"
            >
              <v-list-item-content>
                <v-list-item-title class="text-button">
                  {{ materia.Materia }}
                </v-list-item-title>
                <v-list-item-subtitle class="overline">
                  {{ materia.Dias[date.getDay()] }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-responsive
              class="d-flex flex-column justify-center pa-15"
              v-else
            >
              <div class="text-subtitle-2 text-center">
                Obteniendo carga academica
              </div>
              <v-progress-linear
                class="mt-3"
                indeterminate
                color="primary"
              ></v-progress-linear>
            </v-responsive>
          </v-lazy>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-img
          src="@/assets/online_lesson__monochromatic.svg"
          max-width="450"
          class="mx-auto"
        ></v-img>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import DateFormater from "../plugins/DateFormater";
export default {
  name: "Home",
  data: () => ({
    date: DateFormater,
  }),
  computed: {
    ...mapState("User", ["horario"]),
    materias() {
      // console.log(this.horario)
      return this.horario
        .filter((m) => {
          let dia = m.Dias[this.date.getDay()];
          if (dia != null && dia != "-/") {
            let hora = Number.parseInt(dia.split(":")[0]);
            // console.log(hora, this.date.getHour());
            if (hora >= this.date.getHour()) return m;
          }
        })
        .sort((a, b) => {
          let hora_a = Number.parseInt(
            a.Dias[this.date.getDay()].split(":")[0]
          );
          let hora_b = Number.parseInt(
            b.Dias[this.date.getDay()].split(":")[0]
          );
          if (hora_a > hora_b) {
            return 1;
          }
          if (hora_a < hora_b) {
            return -1;
          }
          return 0;
        });
    },
  },
  // watch: {
  //   horario: (_new) => {
  //      console.log(_new);
  //   },
  // },
  mounted() {
    this.$store.dispatch("User/getHorario");
  },
};
</script>

<style>
.capitalize {
  text-transform: capitalize !important;
}
</style>
