<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" md="8">
        <v-lazy>
          <materias />
        </v-lazy>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="12" md="4">
        <v-card color="primary darken-2" dark v-for="i in 9" :key="i" class="mb-4">
          <v-card-text>
            <v-card-title class="text-h5" v-text="`Semestre ${i}`" />
            <v-card-subtitle
              class="font-weight-black seudo-overline"
              v-text="`Promedio: 80`"
            />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import materias from "@/components/Kardex/materias.vue";

export default {
  name: "Home",
  components: {
    materias,
  },
};
</script>
