<template>
  <div
    class="fondo-itl lighten-4 fill-height align-center justify-center d-flex flex-column pa-4 text-center"
  >
    <v-card
      max-width="480"
      width="100%"
      flat
      dark
      :disabled="loading"
      class="transparent pa-2 align-center justify-center d-flex flex-column ma-auto"
    >
      <v-card-title
        class="texto-chido display-2 mb-2 justify-center rounded-lg"
        v-text="'ITL Control'"
      />
      <v-card-subtitle
        class="texto-chido mb-3 text-body-1"
        v-text="'inicia sesion para continuar'"
      />
      <v-card-text>
        <v-form v-model="valid" ref="form" @submit.prevent="login">
          <v-text-field
            :rules="[(v) => !!v || 'required']"
            outlined
            required
            solo-inverted
            label="Numero de Control"
            v-model="form.control"
          />
          <v-text-field
            :rules="[(v) => !!v || 'required']"
            outlined
            solo-inverted
            required
            label="Contraseña"
            type="password"
            v-model="form.password"
          />
          <v-btn
            block
            type="submit"
            class="primary"
            x-large
            dark
            :loading="loading"
          >
            Continuar
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    loading: false,
    valid: true,
    form: {
      control: "",
      password: "",
    },
  }),
  methods: {
    switchForm() {
      if (["Inicio de sesion", "Iniciar Sesion"].includes(this.title)) {
        this.title = "Registrate";
        this.subtitle = "Iniciar Sesion";
      } else {
        this.title = "Inicio de sesion";
        this.subtitle = "Registrate";
      }
    },
    async login() {
      this.loading = true;
      this.$emit("start-loading");
      if (this.valid) {
        if (await this.$store.dispatch("User/login", this.form)) {
          await this.$store.dispatch("User/getUserInfo");
          this.$router.push({ name: "Horario" });
        } else this.$refs.form.reset();
      }
      this.loading = false;
      this.$emit("stop-loading");
    },
  },
};
</script>

<style>
.texto-chido {
  font-family: Quicksand, sans-serif !important;
}
.v-application.login {
  background: none !important;
}
.fondo-itl {
  position: relative;
  background: #293749bb !important;
  overflow: hidden;
}
.fondo-itl::before {
  position: absolute;
  width: 105%;
  height: 105%;
  top: -2.5%;
  left: -2.5%;
  content: "";
  background: url("/itl-fondo.jpg") no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(10px);
}
</style>
