<template>
  <v-app :class="{ login: !isLogged() }">
    <TheHeader v-if="isLogged()" />
    <v-progress-linear
      color="blue"
      v-if="loading"
      :indeterminate="loading"
    ></v-progress-linear>
    <v-main>
      <router-view
        @start-loading="loading = true"
        @stop-loading="loading = false"
      />
    </v-main>
  </v-app>
</template>

<script>
import TheHeader from "@/components/app/TheHeader";

export default {
  data: () => ({
    loading: false,
  }),
  methods: {
    isLogged() {
      // return this.$router.currentRoute.name !== "Login";
      return this.$router.history.current.name !== "Login";
    },
  },
  components: {
    TheHeader,
  },
  created() {
    if (this.isLogged()) setTimeout(()=>this.$store.dispatch("User/getHorario"),1500);
  },
};
</script>
